body {
  background: #9bcce5b6;
}

#content {
  background: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 30px 20px;
  width: 700px;
}

#gallery {
  height: 650px;
  overflow: scroll;
}

#gallery img {
  height: auto;
  width: 200px;
}

#gallery img:hover {
  border: 2px solid gainsboro;
}

.sec-header {
    background: #8eb8ce;
    color: white;
    text-align: center;
}
