#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#gallery {
  overflow: scroll;
  height: 650px;
}

#gallery img {
  width: 200px;
  height: auto;
}

#gallery img:hover {
  border: 2px solid gainsboro;
}

.sec-header {
    background: #8eb8ce;
    color: white;
}