body {
  background: #9bcce5b6;
}

#content {
  background: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 30px 20px;
  width: 700px;
}

#content p {
  font: 15px Arial, sans-serif;
  padding: 0 10px;
}

#gallery {
  display: flex;
  flex-wrap: nowrap;
  height: 280px;
  overflow-x: auto;
}

#gallery img {
  display: inline-block;
  height: 250px;
  margin: auto 2px;
  width: auto;
}

#gallery img:hover {
  border: 2px solid gainsboro;
}

.sec-header {
  background: #8eb8ce;
  color: white;
  text-align: center;
}

.link {
  background: #4b809bfd;
  color: white;
  font: bold;
  text-decoration-line: none;
}

.link:hover {
  background: white;
  color: black;
  text-decoration-line: underline;
}

#projects li {
  font: 14px Arial, sans-serif;
}

.project-name {
  color: #316988;
  font: 17px;
}

#fact-button,
#shuffle-images {
  background: whitesmoke;
  border: 1px solid #8eb8ce;
  color: #8eb8ce;
  font-weight: bold;
}

#fact-button:hover,
#shuffle-images:hover {
  background: #8eb8ce;
  color: whitesmoke;
}

#fact-container {
  font: italic 30px Georgia, serif;
  text-align: center;
}

#fact-container.shadow {
  text-shadow: 0 0 15px #194485;
}

@keyframes shine {
  from {
    color: #1d3b7a;
  }
  to {
    color: #60afe470;
  }
}

#fact-container.shine {
  animation: shine 1s infinite alternate;
}

#fact-container.dark {
  background: #152568;
  color: antiquewhite;
}

#comments-setting-inputs {
  display: flex;
  font: 14px Arial, sans-serif;
  justify-content: space-between;
  margin: 5px;
}

#comments-setting-inputs .input-group {
  display: inline;
}

#comments-setting-btns {
  margin: 5px;
}

#comments-setting-btns button,
#new-comment-btn {
  background: #8eb8ce;
  border: 1px solid #8eb8ce;
  color: whitesmoke;
  display: inline-block;
  font-weight: bold;
  margin: 3px;
}

#comments-setting-btns button:hover,
#new-comment-btn:hover {
  background: #70a4c0;
}

#delete-all-btn,
.delete-comment {
  background: whitesmoke;
  border: 1px solid #f16969;
  color: #f16969;
  display: inline-block;
  font: bold 15px;
}

#delete-all-btn:hover,
.delete-comment:hover {
  background: #f16969;
  color: whitesmoke;
}

#comments-editing-btn {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

#comments-container {
  margin: 20px 0;
}

.comment {
  background: #b4d5e75e;
  margin: 5px 5px 20px 5px;
  padding: 10px 10px;
}

.comment-header {
  border-color: #8eb8ce;
  border-style: solid;
  border-width: 0 0 2px 0;
  color: #1a1a63;
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}

.username {
  display: inline-block;
  font: 16px Arial, sans-serif;
}

.timestamp {
  display: inline-block;
  font: 12px Arial, sans-serif;
}

.content {
  margin: 5px;
  font: 17px;
}

.comment-button {
  display: flex;
  justify-content: flex-end;
}

#comment-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

#comment-form.logout,
#comment-form.hide {
  display: none;
}

#comment-text {
  margin: 5px 0;
}

#load-more {
  display: flex;
  justify-content: center;
}

#load-more-btn {
  background: whitesmoke;
  border: 1px solid whitesmoke;
  color:  #70a4c0;
  display: inline-block;
  font: bold;
}

#load-more-btn:hover {
  border: 1px solid #70a4c0;
  display: inline-block;
  box-shadow: 3px 3px #c1cacfc2;
}

#no-more-comments.hide {
  opacity: 0;
}

#no-more-comments.appear {
  opacity: 1;
}
